<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstApp Attempt 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A68697D1E27D30000FAE155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A6869911E27D30000FAE155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A68699C1E27D30000FAE155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
